/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo de página */
body {
    background-color: #0B2447 !important;
   
}

/* Estilo de encabezado */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    
}

h1 {
    color: #0080c8;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo de la barra de navegación */
/*nav {
    background-color: #fff;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 0 10px;
}

a {
    color: #0080c8;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
*/
nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    
  }
  
  nav ul li a:hover {
     background:#234eec url('../img/aguamovi.gif') center center no-repeat;
     color: black;
     
  }
  
/* Estilo de la sección de tiburones */
.tibus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.tibu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    width: 400px;
    text-align: justify;
}

h2 {
    color: #0080c8;
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

p {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    border-radius: 10px;
    margin-top: 10px;
    max-width: 100%;
}








/* Estilo del pie de página */
footer {
    margin-top: 1.2em;
    background-color: #fff;
    color: #333;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    background:#234eec url('../img/aguamovi.gif');
}
